.imgSobreEstilo {
    width: 300px;
    border-radius: 10%;
}

section.sobre {
    background: #fff;
    padding: 40px 4%;
}

.flex {
    display: flex;
    align-items: center;
    gap: 60px;
}

.sobre .txtSobre {
    color: #000000;
}

.sobre .txtSobre h2 {
    font-weight: 900;
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 20px;
}

.sobre .txtSobre h2 span {
    color: #0c24ff;
    display: block;
}

.sobre .txtSobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txtSobre .btnSocial button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 23px;
    background-color: #0c24ff;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btnSocial button:hover{
    box-shadow: 0px 0px 10px #0c24ff;
    transform: scale(1.10);
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;
    }
    .sobre .txtSobre h2 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    section.sobre {
        padding: 20px 4%;
    }
    .btnSocial{
        text-align: center;
    }
    .imgSobre img{
        width: 380px;
    }
}