.background {
  background: #fff;
  padding: 40px 4%;
}

.desenvolvimento {
  margin-top: 20px;
}

.desenvolvimento .cursoNegrito {
  font-weight: 600;
}


.tituloCertificacoes{
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

@media screen and (max-width:1020px) {
  .desenvolvimento h1 {
    font-size: 25px;
    
  }
}