.logo {
    width: 200px;
}

footer{
    padding: 60px 4%;
    box-shadow: 0px 0px 40px 10px #494949;
}

footer .flex {
    display: flex;
    justify-content: space-between;
}

footer .linhaFooter{
    padding: 20px 0;
    border-top: 2px solid #0c24ff;
    border-bottom: 2px solid #0c24ff;
}

footer .btnSocial button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 23px;
    background-color: #0c24ff;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .linhaFooter p i{
    color: #ffffff;
    font-size: 25px;
}

footer .linhaFooter p a {
    color: #ffffff;
}

.linhaFooter p {
    color: #ffffff;
}

@media screen and (max-width: 1020px){
    .flex {
        flex-direction: column;
        gap: 50px;
    }
    footer .linhaFooter{
        text-align: center;
    }
    
}

