.fotoPessoa {
    width: 350px;
}

section.topoDoSite {
    padding: 40px 4%;
}

.flex {
    display: flex;
}

section.topoDoSite .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.txt_topo_site h1 {
    font-weight: 900;
}

.txt_topo_site p {
    text-align: justify;
}

.topoDoSite h1 {
    color: #ffffff;
    font-size: 42px;
    line-height: 34px;
}

.topoDoSite h1 span{
    color: #1000f5;
}

.topoDoSite .txt_topo_site p{
    color: #ffffff;
    margin: 20px 0;
}

.btnContato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #0c24ff;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #0c24ff;
    transition: 0.5s;
}

.btnContato button:hover{
    box-shadow: 0px 0px 10px #6f6dff;
    transform: scale(1.10);
}

.topoDoSite .img_topo_site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 28px;
    }
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column-reverse;
    }
    .topoDoSite h1 {
        font-size: 32px;
    }
    section.topoDoSite {
        padding: 20px 8%;
    }
    
    section.topoDoSite .flex{
        gap: 40px;
    }
    .img_topo_site{
        margin: 20px;
    }
    .img_topo_site img{
        width: 330px;
    }
}