section.especialidades {
    padding: 80px 0.5%;
    margin: 20px 4%;  
}

h2.titulo {
    color: #ffffff;
    font-size: 38px;
    text-align: center;
    font-weight: 700;
}

h2.titulo span {
    color: #0c24ff;
}

.flex {
    display: flex;
    gap: 10px;
    margin-top: 45px;
}

.especialidades .especialidadesBox {
    color: #0c24ff;
    padding: 0 50px;
    transition: .2s;
    border-radius: 20px;
}

.especialidades .especialidadesBox p{
    color: #ffffff;
}

.especialidades .especialidadesBox:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #555555;
}

.especialidades .especialidadesBox i {
    font-size: 100px;
    color: #0c24ff;
}

.especialidades .especialidadesBox h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidadesBox p {
    text-align: justify;
    font-size: 15px;
}

@media screen and (max-width: 1020px) {
    section.especialidades {
        padding: 40px 5%; 
    }
    .flex {
        flex-direction: column;
    }
    .especialidades .especialidadesBox{
        padding: 0 10px;
    }
    h2.titulo {
        font-size: 32px;
        line-height: 30px;
    }
}